$btn-radius-rounded: 20px;
$feedback-invalid: #bd4955;

$light-primary-color: #1DA1F2;
$light-hovered-color: #1A91DA;
$light-background-color: #fff;
$light-color: #333;

$dark-primary-color: #f90f3b;
$dark-hovered-color: #ef0e39;
$dark-background-color: #202225;
$dark-color: #e4e4e4;

$dark-input-main-color: #b3b3b3;
$dark-input-text-color: #e4e4e4;
$dark-input-bg: #292d32;
$dark-input-selected: #1e2125;
$dark-input-disabled: #1e2125;
$dark-input-box-shadow: unset;
$dark-input-border-color: transparent;
