$primary-color: #1DA1F2;
$btn-radius-default: 4px;
$btn-radius-rounded: 20px;

$font-family: Graphik LCG Web, Graphik Arabic Web Regular, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, Lucida Grande, Sans-Serif;

$btn-height-small: 20px;
$btn-height-medium: 28px;
$btn-height-large: 40px;

$btn-min-width: 200px;
$btn-max-width-medium: 320px;
$btn-min-width-large: 240px;
$btn-max-width-large: 415px;
