.ns-editor {
  &__form-link {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.8rem;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
    }

    footer {
      margin-top: 0.5rem;
    }

    &.show {
      display: block;
    }
  }
}
