@import "../../../styles/form";

.input-group {
  @include form;

  border-radius: 0.375rem;
  margin-bottom: 0.5rem;

  &-text {
    background-color: #f9f9f9;
  }

  .form-control {
    width: 1%;
    margin-bottom: unset;
  }
}
