@import "../../../styles/form";

:host {
  display: block;
  min-height: 1.5rem;
  padding-left: 2.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.25rem;

  .ns-switch {
    &__input {
      margin-left: -2.5em;
      border-radius: 2em;
      transition: background-position .15s ease-in-out;
      width: 2em;
      height: 1em;
      float: left;
      margin-top: 0.2em;
      vertical-align: top;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
      background-position: left center;
      background-repeat: no-repeat;
      border: 1px solid rgba(0, 0, 0, .25);
      appearance: none;

      &:checked {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
        background-position: right center;
        background-repeat: no-repeat;
        background-color: #0d6efd;
        border-color: #0d6efd;
      }

      &:disabled {
        pointer-events: none;
        filter: none;
        opacity: .5;
      }
    }

    &__label {
      display: inline-block;
    }
  }
}
