@import "../styles/form";
@import "../styles/btn";

:host {
  @include form;
  display: block;
  margin-bottom: .5rem;
}

.btn {
  @include btn;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 9px;
  width: 100%;

  &__secondary {
    @include btn-secondary;
    background-color: #fff;
    border: 1px solid #cfcfdb;
  }

  .form {
    &-label {
      margin-bottom: unset;
      font-weight: 600;

      span {
        font-weight: 400;
      }
    }
  }

  &:disabled {
    background-color: #e9ecef;
  }
}

.ns-dropdown {
  &__search {
    display: flex;
    position: relative;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    height: 36px;

    &.disabled {
      pointer-events: none;

      .ns-dropdown__value-label {
        opacity: .65;
      }
    }
  }

  &__placeholder {
    color: #bdbed4;
  }

  &__value {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: .875rem;
    z-index: 1001;
  }

  &__input {
    position: absolute;
    left: 0;
    width: 100%;

    .form-control {
      margin-bottom: unset;
    }
  }
}

.dropdown {
  &-menu {
    min-width: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    height: auto;
    box-sizing: border-box;
    max-height: 240px;
    z-index: 1100;

    li {
      position: static;
      margin: 0;
      padding: 0 4px;
    }
  }

  &-toggle {
    margin-left: auto;
    transform: rotate(0deg);
    transition: transform 120ms ease-in-out 0s;
    flex-shrink: 0;
  }

  &:not(:host.show) {
    .dropdown-toggle {
      transform: rotate(180deg);
    }
  }

  &-item {
    display: flex;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    z-index: 1;

    .icon-check-mark {
      opacity: 0;
      margin: 0 0.35rem 0 -0.35rem;
    }

    &.active, &:hover {
      color: initial;
      background: rgb(108 96 199 / 8%);
    }

    &.active {
      color: #584ac0;

      .icon-check-mark {
        opacity: 1;
      }
    }

    span {
      line-height: 1.4;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }

  &-start {
    position: absolute;
    inset: auto auto auto 0;
    margin: 0;
    left: 0;
  }

  &-end {
    position: absolute;
    inset: auto;
    margin: 0;
    right: 0;
  }
}
