@import "../styles/styles";

.ns-avatar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 32px;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background: #ccc;
  width: 32px;
  height: 32px;

  &__circle {
    border-radius: 50%;
  }

  &__square {
    border-radius: 2px;
  }

  &__text {
    position: absolute;
    left: 50%;
    transform-origin: 0 center;
  }
}
