@import "../../../styles/styles";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: #f4f4f4;

  .ns-avatar-text {
    color: #777;
    margin-bottom: unset;
  }

  &.ns-avatar {
    &-rounded {
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

:host-context([data-theme="dark"]) {
  background-color: #292d32;

  .ns-avatar-text {
    color: #fff;
  }
}
