:host {
  display: block;
  position: relative;
  min-height: 15rem;
  margin-bottom: 0.5rem;

  &.ns-image--loaded {
    .ns-image__overlay {
      opacity: 0;
      background-color: rgb(0 0 0 / 10%);

      .ns-icon {
        color: #fff;
      }
    }
  }
}

.ns-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 7.5rem;
    user-select: none;

    &.ns-image__multi {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 0.5rem;
      grid-row-gap: 0.5rem;
    }
  }


  &__drag-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e9ecef;
    border: 1.5px dashed #cfcfdb;
    border-radius: 5px;
    margin-bottom: 1rem;
    flex-direction: column;
    gap: 0.25rem;

    &:not(:disabled) {
      background-color: #fff;

      &:hover {
        border: 1.5px dashed #b3b3c0;

        .ns-image__overlay {
          opacity: .8;
        }
      }
    }
  }

  &__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: opacity 300ms ease-out;
    user-select: none;
    opacity: .6;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  &__fluid {
    width: 100%;
    object-fit: cover;
  }

  &__thumbnail {
    transition: all 300ms ease-in-out;
    cursor: move;

    &:first-child {
      grid-column: 1/span 2;
      grid-row: 1/span 2;
    }

    img {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      object-fit: cover;
    }
  }

  &__button {
    border: unset;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 5px;
    overflow: hidden;

    .ns-image__overlay {
      opacity: 0;
    }

    &:not(:disabled, .ns-image__loading) {
      .ns-image__overlay {
        background-color: rgb(0 0 0 / 10%);
      }

      &:hover {
        .ns-image__overlay {
          opacity: 1;
        }
      }
    }
  }

  &__text {
    margin-left: 1rem;
  }

  &__remove {
    color: #d82c0d;
    background: transparent;
    border: unset;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 5;
  }

  &__drag {
    color: #fff;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 5;
  }

  &__preload {
    display: none;
    color: #fff;
    z-index: 5;
  }


  &__loading {
    background-color: rgb(0 0 0 / 10%);

    .ns-image__preload {
      display: block;
    }

    .ns-image {
      opacity: .8;
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.65;
  }
}
