@import "../../../styles/btn";

:host {
  display: block;
  width: fit-content;

  &.ns-button__grid {
    display: grid;
    width: 100%;
  }
}

.btn {
  @include btn;
  display: block;
  vertical-align: center;
  margin-bottom: 0.3rem;
  min-width: 5rem;
  padding: 9px;
  text-align: center;
  border-radius: 0.5rem;

  &__primary {
    background-color: #3665f3;
    color: #fff;
  }

  &__secondary {
    @include btn-secondary;
  }

  &__block {
    width: 100%;
    height: 42px;
  }
}
